name: build

on:
  #push:
  #  branches:
  #    - master
  #schedule:
  #  - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:base-devel
    steps:
      #- name: Checkout
        #uses: actions/checkout@v2

      - name: Build
        run: |
          useradd -m user
          usermod -aG wheel user
          echo "%wheel ALL=(ALL:ALL) NOPASSWD: ALL" >> /etc/sudoers
          pacman -Syu git --noconfirm
          chown user:user $(pwd)
          
          sudo -u user git clone https://aur.archlinux.org/mozc-ut.git
          cd mozc-ut
          echo "ver=$(cat PKGBUILD | grep pkgver | cut -d "=" -f 2)" >> $GITHUB_ENV
          sudo -u user makepkg -s --noconfirm
          pacman -U mozc-ut-*.pkg.tar.zst --noconfirm
          mv mozc-ut-*.pkg.tar.zst ../
          cd ..
          
          sudo -u user git clone https://aur.archlinux.org/fcitx5-mozc-ut.git
          cd fcitx5-mozc-ut
          sudo -u user makepkg -s --noconfirm
          mv fcitx5-mozc-ut-*.pkg.tar.zst ../
          cd ..
          
          repo-add mozc-ut-bin.db.tar.gz *.pkg.tar.zst
          
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3

      - name: Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: ${{ env.ver }}
          prerelease: false
          files: |
              ./mozc-ut-*.pkg.tar.zst
              ./fcitx5-mozc-ut-*.pkg.tar.zst
              ./mozc-ut-bin.db*
              ./mozc-ut-bin.files*
